*{
	box-sizing:border-box;
}
main{
	width: 100%;
	max-width: 480px;
	margin: auto;
}
body{
	margin: 0;
	background-color: #242133;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
h1{
	text-align: center;
}
p{
	margin: 0;
}
.bold{
	font-weight: bold;
}
.profile{
    margin: 2em;
    text-align: center;
}
.profile__pic{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: url(assets/profil_pic.jpg) center no-repeat;
	background-size: cover;
	margin: 20px auto;
}
.firstName{
	font-size: 28px;
	font-weight: bold;
}
.lastName{
	font-size: 20px;
	color: #919099;
}
.stat{
	display: flex;

}
.stat__tab{
	width: 50%;
  	padding: 20px 0px;
	text-align: center;
	border-top: 1px solid #919099;
	border-bottom: 1px solid #919099;
	cursor: pointer;
    text-align: center;
    margin: 0;
    font-size: 20px;
}
.stat__tab--active{
	border-top-color:  #3598fe;	
}
.stat__tab:before {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    position: relative;
    bottom: 21px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
}
.stat__tab:hover:before 
{
width: 100%;
background: #3598fe;
}
.task{
	margin-left: 20px;
}
.task__group{
	display: flex;
	flex-wrap: wrap;
	margin-top: 2em;
	perspective: 100px;
}
.task__group-title{
	width: 100%;
	margin:10px 0px;
	color: #919099;
	font-size: 18px;
}
.task__item{
	background-color: #3598fe;
	border-radius: 5px;
	width: 45%;
	min-width: 102px;
	padding: 30px 20px;
	margin : 5px;
	cursor: pointer;
	font-size: 18px;
}
.task__item {
  opacity: 0;
  transform: rotateX(-90deg);
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.task__item.active {
  opacity: 1;
  transform: none;
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}
.task__item-title{
	font-weight: bold;
}
.task__item-subtitle{
	color: #cecdd4;
} 
.task__add{
	background-color: #919099;
	border-radius: 5px;
	font-size: 30px;
	text-align: center;
	margin : 5px;
	cursor: pointer;
	width: 23%;
    min-width: 102px;
    line-height: 102px;
    transition: 0.3s;
   
}
.task__add:hover{
	background-color: #504f56;
}
/* Modal */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.modal__content {
  background-color: #fefefe;
  position: relative;
  bottom: 0;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 97%;
  max-width: 480px;
  border-radius: 10px;
  text-align: center;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}
.close{
	float: right;
	color: #919099;
	cursor: pointer;
	font-size: 40px;
	transition: color 0.3s;
}
.close:hover{
	color: #000;
}
.modal__title{
	color: #919099;
}
.modal__input{
    height: 40px;
    width: 70%;
    font-size: 18px;
    margin: 12px;
}
.modal__btn{
	background-color: #3598fe;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 40px;
    line-height: 1.5;
    margin: 1em auto;
    padding: 0px;
    width: 140px;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    transition: 0.3s;
}
.modal__btn--delete{
  background-color: red;
}
.modal__btn:hover{
	background-color: #504f56;
}

/* Animations */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}